<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogDir" value="C:\okuri"/>
    <add key="LogExe" value="UpdateWeight.vbs"/>
    
    <add key="COM_PORT" value="COM1"/>
    <!--<add key="RS232C_MODE" value="LaunchFromPC"/>-->
    <add key="RS232C_MODE" value="Weight"/>
  </appSettings>
</configuration>